body {
  font-family: "Montserrat-White";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat-Bold";
}
h2 {
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-size: 1.5rem;
}
p {
  color: grey;
}
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid {
  padding: 3% 15% 8%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
/* Download Buttton */
.download-btn {
  margin: 5% 3% 5% 0;
}
/* Title Image */
.title-img {
  transform: rotate(10deg);
  width: 60%;
  position: absolute;
  right: 15%;
}
/* The second section features styling */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-class {
  text-align: center;
  padding: 5%;
}
.icon {
  color: orangered;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
/* <!-- Testimonials  section -->  */
#testimonials {
  text-align: center;
  background-color: rgb(228, 102, 56);
  color: #fff;
}
.carousel-item {
  padding: 7% 15%;
}
.test-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: rgb(228, 102, 56);
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* THE PRICING SECTION */
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-col {
  padding: 3% 2%;
}
/* <!-- Call to Action --> */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
}
/* <!-- Footer --> */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.icon-ff {
  padding: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0deg);
  }
}
